<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Resources</title>
        <link rel="shortcut icon" href="static\uploads\logo.png" type="image/x-icon">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    </head>
<body class="h-14 bg-gradien-to-r from-green-400  via-green-300  to-green-600">

    <header class="bg-[#0a670a] text-gray-100">
            <nav class="flex justify-between items-center w-[92%] mx-auto">
                <div>
                    <img src="static\uploads\logo.png" class="w-20 m-2 p-2 rounded-2xl" alt="">
                </div>
                <div class="nav-links duration-500 md:static absolute md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto  w-full flex items-center px-5">
                    <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-10">
                        <li>
                            <a class="hover:text-green-500" href="index.html">Home</a>
                        </li>
                        <li>
                            <a class="hover:text-green-500" href="potato.html" target="_blank">Potato</a>
                        </li>
                        <li>
                            <a class="hover:text-green-500" href="wheat.html" target="_blank">Wheat</a>
                        </li>
                        <li>
                            <a class="hover:text-green-500" href="rice.html" target="_blank">Rice</a>
                        </li>
                        <li>
                            <a class="hover:text-green-500" href="sugarcane.html" target="_blank">Sugarcane</a>
                        </li>
                        <li>
                            <a class="hover:text-green-500" href="corn.html" target="_blank">Corn</a>
                        </li>
                        <li>
                            <a class="hover:text-green-500" href="education.html" target="_blank">Training</a>
                        </li>
                        <li>
                            <a class="hover:text-green-500" href="service.html" target="_blank">Services</a>
                        </li>
                        <li>
                            <a class="hover:text-green-500" href="about.html" target="_blank">About Us</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="flex items-center gap-6">
                <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-3xl cursor-pointer md:hidden"></ion-icon>
            </div>
        </header>


        <div class="max-w-full md:py-[80] py-5 flex flex-col md:flex-row lg:flex-row mx-auto sm:flex-col text-green-900 bg-yellow-200">
            <div class="basis-1/2 p-3">
                <img src="static\uploads\x.jpg" alt="x Image" class="w-full rounded-lg shadow-2xl">
            </div>
            <div class="basis-1/2 px-5">
                <h1 class="text-4xl p-3 m-3">BotaniBrain: Smart Plant Diseases Diagnosis</h1>
                <br>
                <p class="py-3">
                    Welcome to the forefront of innovation in Crop Management and Protection!
                </p>
                <br>
                <p class="py-3">
                    Unleash the power of BotaniBrain, your intelligent companion in agriculture. Utilizing advanced AI and deep learning, BotaniBrain sets new standards for crop protection and farmer support.
                </p>
                <br>
                <p class="py-3">
                    BotaniBrain is a groundbreaking project that leverages state-of-the-art artificial intelligence to transform crop management. Regular updates ensure it stays at the cutting edge of agricultural technology.
                </p>
                <br>
                <p class="py-3">
                    BotaniBrain offers a range of features:
                    <ul class="list-disc pl-6">
                        <br>
                        <li>Intelligent Crop Disease Detection: Identify and address diseases affecting wheat, rice, corn, sugarcane, and potatoes.</li>
                        <li>Chatbot Integration: Human-like responses for real-time farmer support.</li>
                        <br>
                        <li>Training and Educational Resources: Empower farmers with knowledge for sustainable agriculture.</li>
                        <br>
                        <li>Responsive Web Design: Enjoy a user-friendly experience on any device.</li>
                        <br>
                        <li>Customer Support: We value feedback and are here to assist you.</li>
                    </ul>
                </p>
            </div>
        </div>
        
          
    

        <footer class="mt-10">
            <div class="p-10 bg-[#111827] text-gray-100">
                <div class="max-w-7xl mx-auto">
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2">
                        <div class="mb-4">
                            <h4 class="text-lg pb-4 ">BotaniBrain</h4>
                            <p class="text-gray-400">
                                Jaypee Institute Of <br> Information Technology,<br> Noida, India<br> <br>
    
                                <strong>Phone :</strong> +91 86904 09766<br>
                                <strong>Email :</strong> adityaryk123@gmail.com
                            </p>
                        </div>
                        <div class="mb-5">
                            <h4 class="text-lg pb-4">Useful Links</h4>
                            <ul class="text-gray-400">
                                <li class="pb-4 hover:text-green-500"><i class="fa fa-chevron-right px-4 text-green-500"></i><a href="index.html" target="_blank">Home</a></li>
                                <li class="pb-4 hover:text-green-500"><i class="fa fa-chevron-right px-4 text-green-500"></i><a href="about.html" target="_blank">About Us</a></li>
                                <li class="pb-4 hover:text-green-500"><i class="fa fa-chevron-right px-4 text-green-500"></i><a href="education.html" target="_blank">Training</a></li>
                                <li class="pb-4 hover:text-green-500"><i class="fa fa-chevron-right px-4 text-green-500"></i><a href="term.html" target="_blank">Terms of Services</a></li>
                                <li class="pb-4 hover:text-green-500"><i class="fa fa-chevron-right px-4 text-green-500"></i><a href="https://www.privacy-policy-template.com/live.php?token=raSLtnhkTEvFDnII76kgQOiTljCzMEBl" target="_blank">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="mb-5">
                            <h4 class="text-lg pb-4">Our Services</h4>
                            <ul class="text-gray-400">
                                <li class="pb-4 hover:text-green-500"><i class="fa fa-chevron-right px-4 text-green-500"></i><a href="wheat.html" target="_blank">Wheat</a></li>
                                <li class="pb-4 hover:text-green-500"><i class="fa fa-chevron-right px-4 text-green-500"></i><a href="rice.html" target="_blank">Rice</a></li>
                                <li class="pb-4 hover:text-green-500"><i class="fa fa-chevron-right px-4 text-green-500"></i><a href="potato.html" target="_blank">Potato</a></li>
                                <li class="pb-4 hover:text-green-500"><i class="fa fa-chevron-right px-4 text-green-500"></i><a href="corn.html" target="_blank">Corn</a></li>
                                <li class="pb-4 hover:text-green-500"><i class="fa fa-chevron-right px-4 text-green-500"></i><a href="sugarcane.html" target="_blank">Sugarcane</a></li>
                            </ul>
                        </div>
                        <div class="mb-5">
                            <h4 class="text-lg pb-4">Join Our NewsLetter</h4>
                            <p class="text-gray-400 pb-2">Join us for new tips, tutorials, and more...</p>
                            <form action="" class="flex flex-row flex-wrap">
                                <input type="text" name="" id="" class="text-gray-400 w-2/3 p-2 focus:border-green-500" placeholder="email@example.com">
                                <button class="p-2 w-1/3 bg-green-500 text-white hover:bg-green-700">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full bg-gray-900 text-gray-500 px-10">
                <div class="max-w-7xl flex flex-col sm:flex-row py-4 mx-auto justify-around items-center">
                    <div class="text-center">
                        <div>
                            <i class="fa fa-copyright"></i> 2023 Copyright <strong><span>BotaniBrain</span></strong>. All Rights Reserved.
                        </div>
                        <div>
                            Designed by <a href="https://www.linkedin.com/in/harshit-gupta-69838b269/" class="text-green-500">Aditya Kumar</a>
                        </div>
                    </div>
                    <div class="text-center text-xl text-white mb-2">
                        <a href="mailto:harshit00709@gmail.com" class="w-10 h-10 rounded-full bg-green-500 hover:bg-green-700 mx-1 inline-block pt-1"><i class="fa fa-envelope"></i></a>
                        <a href="https://www.instagram.com/harshit_hj007?igsh=MWVvNW43Nzd0ZTV0aA==" class="w-10 h-10 rounded-full bg-green-500 hover:bg-green-700 mx-1 inline-block pt-1"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.facebook.com/profile.php?id=100012630096991" class="w-10 h-10 rounded-full bg-green-500 hover:bg-green-700 mx-1 inline-block pt-1"><i class="fa fa-facebook"></i></a>
                        <a href="https://github.com/Harshit07979" class="w-10 h-10 rounded-full bg-green-500 hover:bg-green-700 mx-1 inline-block pt-1"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/harshit-gupta-69838b269/" class="w-10 h-10 rounded-full bg-green-500 hover:bg-green-700 mx-1 inline-block pt-1"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </footer>
    
        <script>
            const navLinks = document.querySelector('.nav-links')
    
            function onToggleMenu(e) {
                e.name = e.name === 'menu' ? 'close' : 'menu'
                navLinks.classList.toggle('top-[9%]')
            }
        </script>
    
</body>
</html>